.sidebar-menu {
    position: fixed;
  }

.sidebar-menu__item {
    font-size: 19px;
    display: flex;
    align-items: center;
    font-weight: 700;
    padding: 10px;
  }

.sidebar-menu__item-icon {
    height: 26px;
    margin-right: 20px;
  }

.sidebar-menu__item:hover {
    background: orange;
    color: #f5f6f7;
    border-radius: 20px;
    cursor: pointer;
  }