.tweet {
  display: flex;
  border-bottom: 1px solid #000000;
}

.tweet__imgPreview {
  width: 400px;
  height: 400px;
  border-radius: 20%;
  margin-right: 10px;
}

.tweet__facePreview {
  height: 160px;
  width:120px;
  border-radius: 20%;
  margin-right: 10px;
}

.tweet:hover {
  background: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}


.user-list {
  list-style-type: none;
  padding: 0;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  width: 160px; /* 可調整頭像大小 */
  height: 216px; /* 可調整頭像大小 */
  border-radius: 70%; /* 圓形頭像 */
  margin-right: 10px;
}

.username {
  font-size: 16px;
  font-weight: bold;
}

