{% extends 'header_footer.html' %}

{% block title %}紀錄詳情{% endblock %}

{% block content %}
<div>
  <img src="{{ url_for('static', filename='photo/saveData/'+detail.photoLocation) }}" width="640px" height="640px">
</div>
<div>
  <form action="{{ url_for('detail',id=detail.id) }}" method="post">
    <label class="form-label mt-4">發生時間:</label>
    <p>{{detail.time}}</p>
    <label class="form-label mt-4">災害類型:</label>
    <input type="text" name="type" class="form-control" placeholder="{{detail.type}} ">
    <label class="form-label mt-4">現場人士:</label>
    <input type="text" name="name" class="form-control" placeholder="{{detail.name}} ">
    <label class="form-label mt-4">處置:</label>
    <textarea name="opration" class="form-control" rows="3" placeholder="{{detail.detail}}"></textarea>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary mt-2 mr-5 ">確定編輯</button>
    </div>
  </form>
  <div class="d-flex justify-content-end">
  <form method="post" action="{{url_for('detailDelete',id=detail.id,Imgpath=detail.photoLocation) }} "class="form-inline">
    <button type="delete" class="btn btn-danger mt-2 mr-5">刪除</button>
  </form>
  </div>
</div>
{% endblock %}
